<div>
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <form [formGroup]="dialogForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Category Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
  <div mat-dialog-actions [align]="'end'" *ngIf="!progress">
    <button
      mat-raised-button
      (click)="onNoClick()"
      mat-dialog-close
      color="warn"
    >
      {{ data.action_no }}
    </button>
    <button
      mat-raised-button
      (click)="submit()"
      color="primary"
      [disabled]="!dialogForm.valid"
    >
      {{ data.action_yes }}
    </button>
  </div>
</div>
