<div>
  <h2 mat-dialog-title class="text-center">{{ data.title }}</h2>
  <div mat-dialog-content *ngIf="!progress">
    <form [formGroup]="dialogForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Operation</mat-label>
        <input matInput formControlName="operation" />
        <mat-error
          *ngIf="
            dialogForm.get('operation')?.touched &&
            dialogForm.get('operation')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Debit</mat-label>
        <input
          matInput
          formControlName="debit"
          type="number"
          (change)="debitChange()"
        />

        <span matPrefix>Rp.&nbsp;</span>
        <span matSuffix>,-</span>
        <mat-error
          *ngIf="
            dialogForm.get('debit')?.touched && dialogForm.get('debit')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Credit</mat-label>
        <input
          matInput
          formControlName="credit"
          type="number"
          (change)="creditChange()"
        />

        <span matPrefix>Rp.&nbsp;</span>
        <span matSuffix>,-</span>
        <mat-error
          *ngIf="
            dialogForm.get('credit')?.touched &&
            dialogForm.get('credit')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Notes</mat-label>
        <input matInput formControlName="notes" />
        <mat-error
          *ngIf="
            dialogForm.get('notes')?.touched && dialogForm.get('notes')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>

  <div mat-dialog-actions align="end" *ngIf="!progress">
    <button
      mat-raised-button
      (click)="onNoClick()"
      mat-dialog-close
      color="warn"
    >
      {{ data.action_no }}
    </button>
    <button
      mat-raised-button
      (click)="submit()"
      color="primary"
      [disabled]="!dialogForm.valid"
    >
      {{ data.action_yes }}
    </button>
  </div>
</div>
