<div>
  <h2 mat-dialog-title class="text-center">{{ data.title }}</h2>
  <div mat-dialog-content>
    <form [formGroup]="dialogForm" *ngIf="data.action !== 'import'">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error
          *ngIf="
            dialogForm.get('name')?.touched && dialogForm.get('name')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" formControlName="address" />
        <mat-error
          *ngIf="
            dialogForm.get('address')?.touched &&
            dialogForm.get('address')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error
          *ngIf="
            dialogForm.get('email')?.touched && dialogForm.get('email')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Contact</mat-label>
        <input matInput type="text" formControlName="contact" />
        <mat-error
          *ngIf="
            dialogForm.get('contact')?.touched &&
            dialogForm.get('contact')?.errors
          "
        >
          This field is required.
        </mat-error>
      </mat-form-field>
    </form>

    <div *ngIf="data.action === 'import'">
      <div class="col-12 mt-3" class="full-width">
        <a href="{{ baseURI }}/assets/documents/import_suppliers.xlsx"
          >Download Format File
        </a>
      </div>

      <form class="col-12 mt-3">
        <input
          (change)="read($event)"
          name="file"
          type="file"
          accept=".xls, .xlsx"
        />
      </form>
    </div>
  </div>
  <br />
  <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
  <div mat-dialog-actions align="end" *ngIf="!progress">
    <button
      mat-raised-button
      (click)="onNoClick()"
      mat-dialog-close
      color="warn"
    >
      {{ data.action_no }}
    </button>
    <button
      *ngIf="data.action !== 'import'"
      mat-raised-button
      (click)="submit()"
      color="primary"
      [disabled]="!dialogForm.valid"
    >
      {{ data.action_yes }}
    </button>
    <button
      *ngIf="data.action === 'import'"
      mat-raised-button
      (click)="import()"
      color="primary"
    >
      {{ data.action_yes }}
    </button>
  </div>
</div>
