.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background-color: #212121;
  color: #eaeaea;
  padding: 6px 14px;
}

ul {
  list-style-type: none;
}
ul li i {
  margin: 0.5rem;
}
ul li a {
  color: #eeeeee;
  text-decoration: none !important;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

mat-card {
  border-radius: 0;
}
