mat-form-field {
  width: 100%;
}

.gender-radio-group {
  align-self: left;
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
}

.gender-radio-button {
  margin: 5px;
}
