mat-form-field {
  width: 100%;
}

.gender-radio-group {
  align-self: left;
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
}

.gender-radio-button {
  margin: 5px;
}

section {
  background-image: url(https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row {
  margin: 0;
}
