.input-form {
  width: 100%;
}

.payment {
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

table {
  width: 100%;
}
td,
th {
  vertical-align: middle !important;
}

.receipt-column {
  text-align: left;
  padding: 1px;
  border: none;
}

.receipt-footer {
  font-weight: 600;
  text-align: left;
  padding: 1px;
  border: none;
}

.mat-sort-header-container {
  justify-content: center !important;
}
