<app-navbar></app-navbar>

<section class="container">
  <div
    class="row text-center animate__animated animate__slideInUp"
    *ngIf="!spinner"
  >
    <!-- Create a New Order -->
    <div
      class="row align-items-center"
      *ngIf="createOrder"
      style="height: 100vh"
    >
      <div class="col-12">
        <button mat-raised-button color="primary" (click)="newOrder()">
          Create a New Order
        </button>
      </div>
    </div>

    <!-- Order Layout -->
    <div class="col-xl-8 col-lg-6 col-sm-12">
      <!-- Order List(s) -->
      <mat-card
        class="col-12 mt-3 mat-elevation-z1 p-3 table-responsive animate__animated animate__slideInLeft"
        *ngIf="!createOrder"
      >
        <form (submit)="addItem()">
          <mat-form-field appearance="outline" class="input-form">
            <mat-label>Add a Product</mat-label>
            <input
              #keyword
              type="text"
              placeholder="Enter Keyword(s)"
              aria-label="Input Product"
              matInput
              [formControl]="searchForm"
              [matAutocomplete]="auto"
              [autofocus]="true"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
                (click)="addItem()"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <!-- MatTable -->
        <table
          *ngIf="orderDataSource"
          mat-table
          [dataSource]="orderDataSource"
          class="mat-elevation-z1 mt-3"
        >
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Product Column -->
          <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef>Product</th>
            <td mat-cell *matCellDef="let element">
              {{ element.product_name }}
            </td>
          </ng-container>

          <!-- Product Code Column -->
          <ng-container matColumnDef="product_code">
            <th mat-header-cell *matHeaderCellDef>Product Code</th>
            <td mat-cell *matCellDef="let element">
              {{ element.product_code }}
            </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button (click)="reduceQty(i)">
                <i class="bx bx-minus-circle bx-sm text-warning"></i>
              </button>
              {{ element.quantity }}
              <button mat-icon-button (click)="addQty(i)">
                <i class="bx bx-plus-circle bx-sm text-primary"></i>
              </button>
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
              {{ element.price * element.quantity }}
            </td>
          </ng-container>

          <!-- Options Column -->
          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button (click)="removeItem(i)">
                <i class="bx bx-x-circle bx-sm text-danger"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedItems"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedItems"></tr>
        </table>
        <!-- End of MatTable -->
      </mat-card>
      <!-- End of Order List(s) -->
    </div>
    <!-- End of Order Layout -->

    <!-- Order Action(s) Layout -->
    <div
      class="col-xl-4 col-lg-6 col-md-0 animate__animated animate__slideInRight"
      *ngIf="!createOrder"
    >
      <div class="mt-3 mb-3">
        <mat-accordion class="headers-align" multi>
          <!-- Saved Order(s) -->
          <mat-expansion-panel>
            <mat-expansion-panel-header class="p-3">
              <mat-panel-title> Saved Orders </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-chip-list *ngFor="let order of savedOrders; index as i">
              <mat-chip
                class="m-1"
                color="primary"
                selected
                (click)="getOrder(i)"
                >{{ order }}
                <button (click)="removeOrder(i)" matChipRemove>
                  <i class="bx bx-trash"></i></button
              ></mat-chip>
            </mat-chip-list>
          </mat-expansion-panel>
          <!-- End of Saved Order(s) -->

          <!-- Invoice -->
          <mat-expansion-panel [expanded]="orderDataSource">
            <mat-expansion-panel-header class="p-3"
              ><mat-panel-title
                >Invoice</mat-panel-title
              ></mat-expansion-panel-header
            >
            <div *ngIf="orderDataSource">
              <!-- Receipt -->
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="strike">
                    <span>Resto SatSet</span>
                  </div>
                  Jl. TransJawa No.1, Surabaya. Telp: (0271) 7366 Instagram:
                  @satsetresto.official
                </li>
                <li class="list-group-item">
                  <table class="table">
                    <thead>
                      <tr>
                        <td class="receipt-column text-start" colspan="2">
                          Tanggal:
                        </td>
                        <td class="receipt-column text-end" colspan="2">
                          {{ currentDate }}
                        </td>
                      </tr>
                      <tr>
                        <td class="receipt-column text-start" colspan="2">
                          Kasir:
                        </td>
                        <td class="receipt-column text-end" colspan="2">
                          {{ user.fullname }}
                        </td>
                      </tr>
                      <tr>
                        <td class="receipt-column text-start" colspan="2">
                          Receipt Code:
                        </td>
                        <td class="receipt-column text-end" colspan="2">
                          {{ order_code }}
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start">No.</td>
                        <td class="text-start">Item</td>
                        <td class="text-center">Qty</td>
                        <td class="text-center">Price</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of order; index as i">
                        <td class="receipt-column text-start">{{ i + 1 }}.</td>
                        <td class="receipt-column text-start">
                          {{ item.product_name }}
                        </td>
                        <td class="receipt-column text-center">
                          {{ item.quantity }}
                        </td>
                        <td class="receipt-column text-center">
                          Rp.{{
                            item.price * item.quantity
                              | currency: "Rp":"symbol":"0.0"
                          }},-
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="receipt-footer text-start">Total</td>
                        <td class="receipt-footer text-start">
                          {{ total_items }}
                        </td>
                        <td class="receipt-footer text-center">
                          {{ total_quantity }}
                        </td>
                        <td class="receipt-footer text-center">
                          Rp.{{ revenue | currency: "Rp":"symbol":"0.0" }},-
                        </td>
                      </tr>
                      <tr>
                        <td class="receipt-footer text-start" colspan="3">
                          Pay
                        </td>
                        <td class="receipt-footer text-center">
                          Rp.{{ pay | currency: "Rp":"symbol":"0.0" }},-
                        </td>
                      </tr>
                      <tr>
                        <td class="receipt-footer text-start" colspan="3">
                          Return
                        </td>
                        <td class="receipt-footer text-center">
                          Rp.{{ return | currency: "Rp":"symbol":"0.0" }},-
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </li>
                <li class="list-group-item">
                  <p>
                    Barang yang sudah dibeli tidak dapat dikembalikan. Terima
                    Kasih telah berkunjung, selamat berbelanja kembali.
                  </p>
                </li>
              </ul>
              <!-- End of Receipt -->

              <!-- Payment -->
              <div class="col-12 mt-3">
                <mat-form-field
                  class="payment"
                  appearance="outline"
                  floatLabel="always"
                >
                  <mat-label>Payment Amount</mat-label>
                  <input
                    #payment
                    matInput
                    type="number"
                    placeholder="0"
                    matInput
                    [formControl]="paymentForm"
                    [autofocus]="false"
                  />
                  <span matPrefix>Rp.&nbsp;</span>
                  <span matSuffix>,-</span>
                </mat-form-field>
              </div>
              <!-- End of Payment -->

              <!-- Actions -->
              <div class="col-12">
                <button
                  mat-icon-button
                  matTooltip="Clear Order(s)"
                  (click)="clearOrder()"
                >
                  <i class="bx bx-message-square-x bx-sm text-danger"></i>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Save Order"
                  *ngIf="!clicked"
                  (click)="saveOrder()"
                >
                  <i class="bx bx-save bx-sm text-info"></i>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Check Out"
                  (click)="checkOut()"
                >
                  <i class="bx bx-receipt bx-sm text-primary"></i>
                </button>
              </div>
              <!-- End of Actions -->
            </div>
          </mat-expansion-panel>
          <!-- End of Invoice -->
        </mat-accordion>
      </div>
    </div>
    <!-- End of Order Action(s) Layout -->
  </div>

  <div class="row align-items-center" *ngIf="spinner" style="height: 100vh">
    <div class="col-12">
      <mat-spinner
        color="primary"
        [diameter]="50"
        [strokeWidth]="3"
        mode="indeterminate"
        style="margin: 0 auto"
      ></mat-spinner>
    </div>
  </div>
</section>
