<div class="container">
  <div class="row">
    <mat-toolbar color="primary">
      <div class="spacer"></div>
      <a mat-button color="accent" routerLink="/">
        Home
      </a>
      <a mat-button color="accent" class="ms-3 me-3" routerLink="/cashier">
        Cashier
      </a>
      <a mat-button color="accent" routerLink="/dashboard">
        Dashboard
      </a>
      <div class="spacer"></div>

      <button mat-icon-button [matMenuTriggerFor]="profile" color="accent">
        <i class="bx bx-user-circle bx-sm"></i>
      </button>
      <mat-menu #profile="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/profile">Profile</button>

        <button mat-menu-item (click)="logout()" matTooltip="Logout" color="warn">
          Logout
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
</div>
