<div class="container">
  <mat-toolbar color="primary">
    <div class="spacer"></div>
    <button mat-button color="accent" routerLink="/">
      <i class="navigation bx bx-home bx-sm"></i>
    </button>
    <button mat-button color="accent" class="ms-3 me-3" routerLink="/cashier">
      <i class="navigation bx bxs-store bx-sm"></i>
    </button>
    <button mat-button color="accent" routerLink="/dashboard">
      <i class="navigation bx bxs-dashboard bx-sm"></i>
    </button>
    <div class="spacer"></div>
  </mat-toolbar>
</div>
