<app-navbar></app-navbar>
<section class="container">
  <div class="row text-center animate__animated animate__slideInLeft">
    <!-- Create a New Order -->
    <div class="row align-items-center" style="height: 100vh">
      <div class="col-12">
        <button mat-raised-button color="primary" routerLink="/cashier">
          Create a New Order
        </button>
      </div>
    </div>
    <!-- End of Create a New Order -->
  </div>
</section>
<!-- 
  <div class="container">
  <mat-toolbar color="primary">
    <div class="spacer"></div>
    <button routerLink="/cashier" mat-icon-button matTooltip="Cashier">
      <i class="bx bx-cart-alt bx-sm"></i>
    </button>
    <span routerLink="/" matTooltip="Index" class="ms-3 me-3">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3028/3028956.png"
        alt=""
        width="40"
      />
    </span>
    <button routerLink="/dashboard" mat-icon-button matTooltip="Dashboard">
      <i class="bx bxs-dashboard bx-sm"></i>
    </button>
    <div class="spacer"></div>
  </mat-toolbar>
</div>
-->
