<div class="row mt-3">
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <mat-card>Total Orders | Active Orders</mat-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <mat-card>Total Sold Products | Remaining Stocks</mat-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <mat-card>Today Revenue | Revenue last 7 days</mat-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
    <mat-card> Remaining Account </mat-card>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12 mb-3">
    <h4 class="mb-3 text-center">Sales Chart</h4>
    <mat-card>
      <canvas id="saleschart"> </canvas>
    </mat-card>
  </div>

  <div class="col-12 mb-3">
    <h4 class="mb-3 text-center">Cashflow Chart</h4>
    <mat-card>
      <canvas id="cashchart"> </canvas>
    </mat-card>
  </div>
</div>
