<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" matTooltip="Click to Show/Hide The Navigation">
    <i class="bx bx-menu bx-sm"></i>
  </button>
  <div class="spacer"></div>
  <a mat-button color="accent" routerLink="/">
    Home
  </a>
  <a mat-button color="accent" class="ms-3 me-3" routerLink="/cashier">
    Cashier
  </a>
  <a mat-button color="accent" routerLink="/dashboard">
    Dashboard
  </a>
  <button mat-button color="accent" (click)="getProducts()" [matMenuTriggerFor]="notification">
    <i matBadge="{{ outofstocks?.length }}" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
      class="bx bx-bell bx-sm"></i>
  </button>
  <mat-menu #notification="matMenu">
    <div *ngFor="let product of outofstocks">
      <button mat-menu-item routerLink="/dashboard/products">
        Product {{ product.name }} | Stock: {{ product.stocks }}
      </button>
    </div>
  </mat-menu>
  <div class="spacer"></div>

  <button mat-icon-button [matMenuTriggerFor]="profile" color="accent">
    <i class="bx bx-user-circle bx-sm"></i>
  </button>
  <mat-menu #profile="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/profile">Profile</button>

    <button mat-menu-item (click)="logout()" matTooltip="Logout">Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="mat-typography" autosize>
  <mat-drawer #drawer mode="side" disableClose="true" opened="true" color="primary">
    <button mat-icon-button (click)="toggle($event)" style="margin: 10px"
      matTooltip="Click to Expand/Collapse The Navigation">
      <i class="bx bx-chevron-right bx-sm sidenav_icon"></i>
    </button>

    <mat-nav-list>
      <mat-list-item routerLink="/dashboard">
        <i class="bx bxs-dashboard bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/categories">
        <i class="bx bx-category-alt bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Product Categories</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/products">
        <i class="bx bxs-component bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Product</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/supply">
        <i class="bx bx-data bx-sm sidenav_icon" color="primary"></i>
        <span class="sidenav_link" *ngIf="isOpen">Supplies</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/sales">
        <i class="bx bxs-store bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Sales</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/cashflow">
        <i class="bx bx-recycle bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Cash Flow</span>
      </mat-list-item>
      <mat-list-item>
        <i class="bx bx-history bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Log Activity</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/users">
        <i class="bx bxs-user-badge bx-sm sidenav_icon"></i>
        <span class="sidenav_link" *ngIf="isOpen">Users</span>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle color="accent" (change)="changeMode($event)" matTooltip="Turn On/Off the Dark Mode">
        </mat-slide-toggle>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="container-fluid animate__animated animate__slideInRight">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
