@import "./theme/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  overflow-y: scroll; /* Add the ability to scroll */
  overflow-x: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 55px;
}
mat-drawer-container {
  min-height: 100vh;
  max-height: auto;
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #212121;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
