<section class="animate__animated animate__slideInRight">
  <mat-tab-group class="mat-elevation-z1 mt-3 mb-3">
    <mat-tab label="Transaction">
      <mat-card class="mat-elevation-z1 mt-3 table-responsive">
        <div class="row align-items-center m-1" align="center">
          <div class="col-12" align="end">
            <mat-form-field appearance="outline">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="transactionsFilter($event)"
                placeholder="Input"
                #input
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <form class="row" [formGroup]="transactionsFilterForm">
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    [matDatepicker]="transactionsFromDate"
                    placeholder="From Date"
                    formControlName="transactionsFromDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transactionsFromDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transactionsFromDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    [matDatepicker]="transactionsToDate"
                    placeholder="To Date"
                    formControlName="transactionsToDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transactionsToDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transactionsToDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12">
                <button
                  class="m-1"
                  mat-stroked-button
                  color="warn"
                  (click)="resetTransactionsFilter()"
                >
                  Reset
                </button>
                <button
                  class="m-1"
                  mat-stroked-button
                  color="primary"
                  (click)="
                    getTransactionsDateRange(transactionsFilterForm.value)
                  "
                >
                  Apply
                </button>
              </div>
            </form>
          </div>

          <div class="col-12" align="end">
            <button mat-icon-button matTooltip="Export to Spreadsheet">
              <i
                class="bx bxs-spreadsheet bx-sm"
                style="color: #0ab33f"
                (click)="transactionsReport()"
              ></i>
            </button>
          </div>
        </div>

        <table
          *ngIf="transactionsDataSource"
          #transactionsSort="matSort"
          mat-table
          [dataSource]="transactionsDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by ID"
            >
              No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Order Code Column -->
          <ng-container matColumnDef="order_code">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Order Code"
            >
              Order Code
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.order_code }}
            </td>
          </ng-container>

          <!-- Revenue Column -->
          <ng-container matColumnDef="revenue">
            <th
              id="revenue"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Revenue"
              class="text-center text-success"
            >
              Revenue
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="text-start fw-bold text-success"
            >
              {{ element.revenue | currency: "Rp":"symbol":"0.0" }}
            </td>
          </ng-container>

          <!-- Pay Column -->
          <ng-container matColumnDef="pay">
            <th
              id="pay"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Pay"
              class="text-center"
            >
              Pay
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.pay | currency: "Rp":"symbol":"0.0" }}
            </td>
          </ng-container>

          <!-- Return Column -->
          <ng-container matColumnDef="return">
            <th
              id="return"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Return"
              class="text-center"
            >
              Return
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.return | currency: "Rp":"symbol":"0.0" }}
            </td>
          </ng-container>

          <!-- Cashier Column -->
          <ng-container matColumnDef="cashier">
            <th
              id="cashier"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Cashier"
              class="text-center"
            >
              Cashier
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.cashier }}
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="created_at">
            <th
              id="created_at"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Date"
              class="text-center"
            >
              Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at | date: "dd/MM/YYYY hh:mm a" }}
            </td>
          </ng-container>

          <!-- Update Column -->
          <ng-container matColumnDef="updated_at">
            <th
              id="updated_at"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Update"
              class="text-center"
            >
              Update
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.updated_at | date: "dd/MM/YYYY hh:mm a" }}
            </td>
          </ng-container>

          <!-- Option Column -->
          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Option
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <button
                mat-icon-button
                (click)="saveInvoice(element)"
                matTooltip="Print Selected Invoice"
              >
                <i class="bx bx-receipt bx-sm" style="color: #ff6b01"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedTransactions"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedTransactions"></tr>
        </table>

        <div class="row align-items-center" *ngIf="!transactionsDataSource">
          <div class="col">
            <mat-spinner
              color="primary"
              [diameter]="50"
              [strokeWidth]="3"
              mode="indeterminate"
              style="margin: 0 auto"
            ></mat-spinner>
          </div>
        </div>

        <mat-paginator
          #transactionsPaginator
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-card>
    </mat-tab>

    <mat-tab label="Orders">
      <mat-card class="mat-elevation-z1 mt-3 table-responsive">
        <div class="row align-items-center m-1" align="center">
          <div class="col-12" align="end">
            <mat-form-field appearance="outline">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="ordersFilter($event)"
                placeholder="Input"
                #input
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <form class="row" [formGroup]="ordersFilterForm">
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    [matDatepicker]="ordersFromDate"
                    placeholder="From Date"
                    formControlName="ordersFromDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="ordersFromDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #ordersFromDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    [matDatepicker]="ordersToDate"
                    placeholder="To Date"
                    formControlName="ordersToDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="ordersToDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #ordersToDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12">
                <button
                  class="m-1"
                  mat-stroked-button
                  color="warn"
                  (click)="resetOrdersFilter()"
                >
                  Reset
                </button>
                <button
                  class="m-1"
                  mat-stroked-button
                  color="primary"
                  (click)="getOrdersDateRange(ordersFilterForm.value)"
                >
                  Apply
                </button>
              </div>
            </form>
          </div>

          <div class="col-12" align="end">
            <button mat-icon-button matTooltip="Export to Spreadsheet">
              <i
                class="bx bxs-spreadsheet bx-sm"
                style="color: #0ab33f"
                (click)="ordersReport()"
              ></i>
            </button>
          </div>
        </div>

        <table
          *ngIf="ordersDataSource"
          #ordersSort="matSort"
          mat-table
          [dataSource]="ordersDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by ID"
            >
              No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Product Column -->
          <ng-container matColumnDef="product_name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Product "
            >
              Product
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.product_name }}
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Price "
            >
              Price
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.price | currency: "Rp":"symbol":"0.0" }}
            </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Quantity "
            >
              Quantity
            </th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Code"
            >
              Code
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.code }}
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="created_at">
            <th
              id="created_at"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Date"
              class="text-center"
            >
              Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at | date: "dd/MM/YYYY hh:mm a" }}
            </td>
          </ng-container>

          <!-- Update Column -->
          <ng-container matColumnDef="updated_at">
            <th
              id="updated_at"
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by Update"
              class="text-center"
            >
              Update
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.updated_at | date: "dd/MM/YYYY hh:mm a" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedOrders"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedOrders"></tr>
        </table>

        <div class="row align-items-center" *ngIf="!ordersDataSource">
          <div class="col">
            <mat-spinner
              color="primary"
              [diameter]="50"
              [strokeWidth]="3"
              mode="indeterminate"
              style="margin: 0 auto"
            ></mat-spinner>
          </div>
        </div>
      </mat-card>
      <mat-paginator
        #ordersPaginator
        [pageSizeOptions]="[10, 50, 100]"
        showFirstLastButtons
      >
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>
</section>
